
SocketRoundabout.xcodeproj/project.xcworkspace/contents.xcworkspacedata

SocketRoundabout.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

SocketRoundabout.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/WorkspaceSettings.xcsettings

SocketRoundabout.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

SocketRoundabout.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/SocketRoundabout.xcscheme

SocketRoundabout.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

nnotif.log

nnotifd.log
